<app-navbar></app-navbar>

<div class="parent-wrapper">
  <div class="wrapper">
    <form class="login-form">
      <h2>Signup</h2>
      <div class="input-field">
        <input data-cy="email" type="text" name="email" required>
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input data-cy="password" type="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <button type="submit">Register</button>
      <div class="register">
        <p>Already have an account? <a href="/login">Login</a></p>
      </div>
    </form>
  </div>
</div>

