<app-navbar></app-navbar>

<div class="parent-wrapper">
  <div class="wrapper">
    <form class="login-form">
      <h2>Login</h2>
      <div class="input-field">
        <input data-cy="email" type="text" name="email" required>
        <label>Enter your email</label>
      </div>
      <div class="input-field">
        <input data-cy="password" type="password" name="password" required>
        <label>Enter your password</label>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>

