<app-navbar></app-navbar>

<div class="parent-wrapper">
  <div class="wrapper">
    <form [formGroup]="loginforms" (ngSubmit)="loginUser()" class="login-form">
        <h2>Login</h2>
      <div class="input-field">
        <input formControlName="email" type="text" name="email" required>
        <label>Enter your email</label>
      </div>

      <div class="input-field">
        <input formControlName="password"  type="text" name="password" required>
        <label>Enter your password</label>
        <div *ngIf="loginforms.get('password')?.invalid && loginforms.get('password')?.touched" class="text-sm text-red-500 mt-[3px]">Password is required</div>
        <div *ngIf="loginforms.get('password')?.invalid && loginforms.get('password')?.touched && !loginforms.get('password')?.dirty" class="text-sm text-red-500 mt-[3px]">Must have letters </div>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember" >
          <p>Remember me</p>
        </label>
        <a href="#">Forgot password?</a>
      </div>
      <button type="submit">Log In</button>
      <div class="register">
        <p>Don't have an account? <a href="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>

